@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

body {
    background: linear-gradient(#16a085 #fff);
}

.owl-carousel .item{
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar h6{
    color: white;
}

.row .col-md-9 .owl-carousel .item{
    height: 450px;
    margin: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.twitter{
    margin-top: 50px;
}

.deskripsi-berita{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto; 
    height: 200px; 
    background-color: aquamarine;
}

.tabel-harga{
    padding: 15px 10px 35px 10px;
    margin-top: 30px;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

.image-disperindag{
    height: 125px;
    background: url(../assets/img/background-kebun-kopi.jpg) no-repeat center center;
}

.color-bg-disperindag{
    height: 125px;
    background-color: rgba(0, 150, 136, 0.85);
}

.color-bg-disperindag img {
    padding-top: 35px;
}

.icon-home-disperindag{
    padding-bottom: 0px;
}

.nav-disperindag{
    margin-right: 15px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

