@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

body {
    background-color: #f5f5f5 !important;
}

.owl-carousel .itema{
    height: 190px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.owl-carousel .item{
    height: 380px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar h6{
    color: white;
}

div.row > div.col-md-9 > div.berita > div.item{
    height: 450px;
    margin: 10px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.galeri > div.item{
    margin: 10px;
}

.twitter{
    margin-top: 50px;
}

.deskripsi-berita{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto; 
    height: 200px; 
    background-color: aquamarine;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

.image-disperindag{
    height: 125px;
    background: url(../assets/img/background-kebun-kopi.jpg) no-repeat center center;
}

.color-bg-disperindag{
    height: 125px;
    background-color: rgba(0, 150, 136, 0.85);
}

.color-bg-disperindag img {
    padding-top: 35px;
}

.icon-home-disperindag{
    padding-bottom: 0px;
}

.nav-disperindag{
    margin-right: 15px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

.keterangan-disperindag{
    height: 380px;
    width: auto;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0, 150, 136));
    color: white;
}

div.keterangan-disperindag > div.fixed-bottom p{
    margin-bottom: 8px;
}

div.keterangan-disperindag > div.fixed-bottom a{
    margin-bottom: 40px;
    color: aliceblue; 
    display: inline-flex;
    vertical-align: middle;
}

div.keterangan-disperindag > div.fixed-bottom a:hover{
    margin-bottom: 40px;
    color: black; 
    display: inline-flex;
    vertical-align: middle;
    font-weight: bold;
}

div.card > div.card-body a{
    display: inline-flex;
    vertical-align: middle;
}

div.card > div.card-body h3{
    overflow: hidden;
    font: normal 20px/20px Courier;
}

.berita-desperindag{
    margin-top: 10px; 
}

section {
    padding: 30px 0px 10px 0px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

div.tabel-disperindag > table > caption{
    padding-left: 10px;
    border-left: 3px solid #009688;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 10px;
    caption-side: top;
}

div.col-md-6 > div.card > div.card-body > h5{
    padding-left: 10px;
    border-left: 3px solid #009688;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 10px;
    caption-side: top;
}

#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

@media (max-width:540px){
	.hps-con-disperindag{
        padding-left: 0px;
        padding-right: 0px;
    }
}

div.card{
    margin-bottom: 10px;
}

